*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.warpper{
    max-width: 1000px;
    margin: 0 auto;
}

.clear-fix:after{
    clear: both;
    display: block;
    content: '';
}
.col{
    float: left;
}
.col-50{
    width: 50%;
}
.header-left span {
    color: white;
    display: block;
    padding: 7px 7px;
}
.header-right ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
}
.header-right li{
    display: table-cell;
}
.header-right li a{
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 12px;
}
.header-right a:hover{
    background: white;
    color: #d74b33;
}
.header-top{
    background: #d74b33;
}
.main-header{
    background: #ebeaea;
}
.main-header img{
    padding: 15px;
}
.search{
    position: relative;
    text-align: right;
    right: 100px;

}
.search input{
    width: 250px;
    margin-top: 30px;
    height: 25px;
    border: 1px solid black;
}
.search button{
    margin-top: 30px;
    height: 25px;
    width: 50px;
    font-size: 15px;
    background: black;
    color: white;
    border: none;
    position: absolute;
    cursor: pointer;
}
.menu{
    background: white;
    max-width: 100%;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
}
.menu li{
    display: table-cell;
}
.menu li a{
    padding: 10px 20px;
    color: black;

    display: block;
    text-align: center;
    text-decoration: none;
}
.menu a:hover{
    background: #d74b33;
    color: white;
}

.page-main a{
    background: #d74b33;
    color: white;
}
/*
CSS content
 */
.content{
    padding-top: 20px;
}
/*
CSS banner
 */
* {
    box-sizing:border-box
}
h2 {
    text-align: center;
}
/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    max-height: auto;
    position: relative;
    margin: auto;
    padding-top: 10px;
}
/* Ẩn các slider */
.mySlides {
    display: none;
}
/* Định dạng nội dung Caption */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
    background-color: #717171;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*
CSS menu doc
 */
.menu-doc ul {
    background: #d74b33;
    width: 250px;
    padding: 0;
    list-style-type: none;

}
.menu-doc li{
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
}
.menu-doc li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
}
.menu-doc li:hover{
    background: #CDE2CD;
}
.menu-doc ul li {
    position: relative;
}
.menu-doc .sub-menu {
    position: absolute;
    left: 250px;
    top: 0;
}
.menu-doc .sub-menu {
    position: absolute;
    left: 250px;
    top: 0;
    display: none;
}
.menu-doc li:hover .sub-menu {
    display: block;
}
.menu-doc span{
    background: #d74b33;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #e8e8e8;
    padding: 0 1em;
    color: white;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.product ul img{
    width: 50px;
    height: 100px;
}